.certificatesSection {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  margin: 28px 0 46px 0;
}

.certificatesSection h3 {
  text-align: center;
  font-size: 28px;
  color: var(--marian-blue);
  border-bottom: 2px solid var(--marian-blue);
  padding: 8px 0;
}

.certificatesSwiper {
  display: flex;
  width: 100%;
  margin: 16px 0;
}

.certificateURL {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  height: auto;
}

.certificateURLies {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  height: auto;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
