.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--background-blue);
  color: #fff;
}

.footer h2 {
  padding: 8px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.mediaLinks {
  display: flex;
}

.mediaLink {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.mediaLink span {
  padding-left: 5px;
}
