.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background: var(--blue); */
  color: var(--marian-blue);
  padding: 16px;
  font-size: 24px;
  /* border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius); */
  border-bottom: 2px solid var(--marian-blue);
}

.subTitle {
  padding: 0 16px;
  font-size: 20px;
}
