.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.welcomeSection,
.workWithCoachSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 8px;
}

.welcomeSectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0;
}

.welcomeSectionText p {
  font-size: 18px;
}

.photo {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.photoURL {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.quoteSection {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 8px 0;
  background: var(--background-blue);
}

.quoteSection h2 {
  color: #fff;
  padding: 8px;
}

.workWithCoachText p {
  font-size: 20px;
  font-weight: 600;
}
.workWithCoachText {
  padding: 8px 0;
}

.workWithCoachText ul {
  font-size: 18px;
  max-width: 600px;
  width: 100%;
  list-style-type: "\- ";
  padding: 8px 16px;
}

.workWithCoachText li {
  margin: 8px 0;
}

.programsSection {
  display: flex;
  width: 100%;
}

.programsSectionContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 8px;
}

.programs {
  display: flex;
}

.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
}

.programContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMeSection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 8px;
}

.aboutMeSectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
}

.certificatesSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  width: 100%;
}

.certificateURLWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.certificateURL {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 16px;
}
