.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.welcomeSection {
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: 28px 0;
  border-radius: var(--radius);
}

.welcomeSectionContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 8px;
}

.welcomeSectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 0;
  padding: 8px;
}

.welcomeSectionText h3 {
  color: rgba(64, 137, 201);
  font-size: 24px;
}

.welcomeSectionText p {
  font-size: 20px;
  font-weight: 600;
}

.photo {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.photoURL {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.quoteSection {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 16px 0;
  background: var(--blue);
  border-radius: var(--radius);
}

.quoteSection h2 {
  color: #fff;
  padding: 16px 8px;
}

.workWithCoachSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 28px 0;
  padding: 8px;
  border-radius: var(--radius);
  background: rgba(241, 153, 83, 0.3);
}

.workWithCoachText p {
  font-size: 20px;
  font-weight: 800;
  color: rgb(205, 120, 51);
}

.workWithCoachText {
  padding: 8px 0;
}

.workWithCoachText ul {
  font-size: 18px;
  max-width: 600px;
  width: 100%;
  list-style-type: "\- ";
  padding: 8px 16px;
}

.workWithCoachText li {
  margin: 12px 8px;
  font-weight: 600;
}

.programsSection {
  display: flex;
  width: 100%;
  margin: 28px 0;
  background-color: rgba(52, 150, 230, 0.2);
  border-radius: var(--radius);
}

.programsSectionContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.programsSectionContent h3 {
  width: 100%;
  text-align: center;
  background-color: var(--blue);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  padding: 8px 0;
  color: #fff;
  font-size: 24px;
}

.programs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 8px;
}

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  width: 100%;
  margin: 16px 8px;
  padding: 24px;
  background: #fff;
  border-radius: var(--radius);
}

.program h4 {
  padding: 8px 0;
  color: rgba(64, 137, 201);
  font-size: 22px;
  text-align: center;
}

.ul {
  font-weight: 600;
}

.programContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programContent p {
  margin: 16px 0;
}

.programContent li {
  margin: 8px 0;
}

.aboutMeSection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 8px;
  margin: 28px 0;
  background: rgba(241, 153, 83, 0.3);
  border-radius: var(--radius);
}

.aboutMeSectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
}

.certificatesSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  width: 100%;
  margin: 28px 0 46px 0;
}

.certificateURLWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.certificateURL {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 16px;
}
