.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.welcomeSection {
  display: flex;
  width: 100%;
  margin: 28px 0;
  border-radius: var(--radius);
}

.welcomeSectionContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 8px;
}

.welcomeSectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 0;
  padding: 8px;
  max-width: 700px;
  width: 100%;
}

.welcomeSectionText h3 {
  margin-bottom: 16px;
  color: var(--dark);
  font-size: 30px;
}

.welcomeSectionText span {
  color: var(--argen-blue);
}

.welcomeSectionText p {
  font-size: 22px;
  font-weight: 600;
  color: var(--dark);
}

.photo {
  max-width: 400px;
  width: 100%;
  height: auto;
  /* border-radius: 16px; */
}

.photoURL {
  max-width: 400px;
  width: 100%;
  height: auto;
  /* border-radius: 16px; */
}

.quoteSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 16px 0;
  border-radius: var(--radius);
}

.quoteSection h2 {
  font-style: italic;
  font-size: 28px;
  color: var(--marian-blue);
  padding: 16px 8px;
  margin: 16px 8px;
  border-left: 2px solid var(--marian-blue);
}

.programsSection {
  display: flex;
  width: 100%;
  margin: 28px 0;
  border-radius: var(--radius);
  color: var(--dark);
}

.programsSectionContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.programsSectionContent h3 {
  width: 100%;
  text-align: center;
  padding: 8px 0;
  color: var(--marian-blue);
  font-size: 28px;
  border-bottom: 2px solid var(--marian-blue);
}

.programs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 16px 0;
  padding: 24px;
  font-size: 18px;
}

.programContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.programContent p {
  text-align: center;
  margin: 16px 0;
}

.programUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: rgba(93, 169, 233, 0.25);
  border-radius: 50%;
  margin-bottom: 16px;
}

.programContent li {
  margin: 8px 0;
  list-style: none;
  max-width: 350px;
  width: 100%;
  margin: 16px 8px;
  padding: 16px;
  border-left: 2px solid var(--argen-blue);
}

.workWithCoachSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 28px 0;
  padding: 16px 8px;
}

.workWithCoachText p {
  font-size: 28px;
  font-weight: 800;
}

.workWithCoachText {
  padding: 16px 8px;
  color: var(--dark);
}

.workWithCoachText ul {
  font-size: 18px;
  max-width: 600px;
  width: 100%;
  padding: 8px 16px;
}

.workWithCoachText span {
  font-style: italic;
  font-weight: 800;
}

.workWithCoachText li {
  margin: 20px 8px;
  padding: 16px;
  font-weight: 600;
  font-size: 20px;
  list-style: none;
  background: #fff;
  box-shadow: 0px 0px 10px 1px rgba(93, 169, 233, 1);
}

.aboutMeSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 28px 0;
}

.aboutMeSection h3 {
  text-align: center;
  font-size: 28px;
  color: var(--marian-blue);
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 2px solid var(--marian-blue);
}

.aboutMeSectionContext {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  flex-wrap: wrap;
}

.aboutMeSectionText {
  max-width: 600px;
  width: 100%;
  border-left: 2px solid var(--argen-blue);
  padding-left: 16px;
  font-size: 18px;
  color: var(--dark);
  margin-bottom: 16px;
  font-weight: 600;
}

.aboutMeSectionText p {
  margin: 8px 0;
}

.aboutMeSectionText ul {
  margin-left: 16px;
}

.aboutMeSectionText li {
  list-style: "- ";
  margin: 8px 0;
}

.aboutMeSectionText span {
  font-style: italic;
  font-weight: 800;
}
