.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.welcomeSection {
  display: flex;
  width: 100%;
  margin: 28px 0;
  border-radius: var(--radius);
}

.welcomeSectionContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 8px;
}

.welcomeSectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 0;
  padding: 8px;
}

.welcomeSectionText h3 {
  color: var(--dark);
  font-size: 30px;
}

.welcomeSectionText h3 span {
  color: var(--argen-blue);
}

.welcomeSectionText p {
  font-size: 22px;
  font-weight: 600;
  color: var(--dark);
}

.photo {
  max-width: 400px;
  width: 100%;
  height: auto;
  /* border-radius: 16px; */
}

.photoURL {
  max-width: 400px;
  width: 100%;
  height: auto;
  /* border-radius: 16px; */
}

.quoteSection {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 16px 0;
  border-radius: var(--radius);
}

.quoteSection h2 {
  font-style: italic;
  font-size: 28px;
  color: var(--marian-blue);
  padding: 16px 8px;
  margin: 0 8px;
  border-left: 2px solid var(--marian-blue);
}

.workWithCoachSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 28px 0;
  padding: 16px 8px;
}

.workWithCoachText p {
  font-size: 28px;
  font-weight: 800;
}

.workWithCoachText {
  padding: 16px 8px;
  color: var(--dark);
}

.workWithCoachText ul {
  font-size: 18px;
  max-width: 600px;
  width: 100%;
  padding: 8px 16px;
}

.workWithCoachText span {
  font-style: italic;
  font-weight: 800;
}

.workWithCoachText li {
  margin: 20px 8px;
  padding: 16px;
  font-weight: 600;
  font-size: 20px;
  list-style: none;
  background: #fff;
  box-shadow: 0px 0px 10px 1px rgba(66, 68, 90, 1);
}

.programsSection {
  display: flex;
  width: 100%;
  margin: 28px 0;
  /* background-color: rgba(52, 150, 230, 0.2); */
  border-radius: var(--radius);
  color: var(--dark);
}

.programsSectionContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.programsSectionContent h3 {
  width: 100%;
  text-align: center;
  padding: 8px 0;
  color: var(--marian-blue);
  font-size: 28px;
  border-bottom: 2px solid var(--marian-blue);
}

.programs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 16px 0;
  padding: 24px;
  font-size: 18px;
}

.program h4 {
  padding: 8px 0;
  font-size: 22px;
  text-align: center;
}

.programContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programContent p {
  text-align: center;
  margin: 16px 0;
}

.programUlTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.programUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: 600;
}

.programContent li {
  margin: 8px 0;
  list-style: none;
  max-width: 350px;
  width: 100%;
  margin: 16px 8px;
  padding: 16px;
  /* background: var(--argen-blue); */
  border-left: 2px solid var(--argen-blue);
}

.aboutMeSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  /* padding: 8px; */
  margin: 28px 0;
  background: rgba(241, 153, 83, 0.3);
}

.aboutMeSectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
}
